.pokemon-container {
  width: 200px;
  height: 220px;
  background-color: #cc0000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  box-shadow: 0 4px 8px rgba(63, 11, 11, 0.1);
}

.pokemon-container:hover {
  transform: scale(1.04);
  transition: transform 0.2s ease;
}